@charset "UTF-8";
/* Fonts mixins*/
/* Colors  */
/* Base settings */
html {
  font-size: 10px; }

body {
  font-family: 'ProximaNova_Reg', sans-serif; }

button:focus, input:focus, a:focus, textarea:focus {
  outline: none; }

/*Стили всех кнопочек*/
.button {
  background-color: #fab102;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all 0.5s; }
  .button:hover {
    cursor: pointer;
    background-color: #d79802; }

/*  Шаблон формы */
.form label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.3rem;
  display: inline-block;
  background-color: white;
  padding: 0.5rem; }

.form_input {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1.5rem;
  margin: 2rem auto; }

.form_btn {
  margin: 2.2rem auto 1.5rem;
  display: block;
  height: 5rem;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem; }

/* Typography */
section {
  padding: 10rem 0; }

.section-header {
  text-align: center;
  margin: 2rem 0 10rem; }
  .section-header h2 {
    font-size: 3.6rem;
    font-family: 'ProximaNova_Bold', sans-serif; }
  .section-header_green {
    color: #49bf15; }
  .section-header_white {
    color: white; }

/* Main (первая секция)*/
.header {
  height: 7rem; }
  .header-btn {
    float: right; }

.main {
  padding: 2rem 0;
  background: #fff url(../img/bg.jpg) center center no-repeat;
  color: #292929;
  /* Левая часть main (форма) */ }
  .main-phone_link {
    display: inline-block;
    font-family: 'ProximaNova_Bold', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    height: 7rem;
    line-height: 7rem;
    color: #292929; }
  .main-content {
    margin-top: 8rem;
    /* Правая часть блока main*/ }
    .main-content h1 {
      margin-top: -1rem;
      margin-bottom: 3rem;
      font-family: 'ProximaNova_Bold', sans-serif;
      text-transform: uppercase;
      font-size: 4rem;
      line-height: 1.45;
      min-width: 0; }
  .main-subtitle {
    margin-bottom: 5rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.4; }
  .main-trigger {
    margin: auto;
    display: inline-block;
    background-color: #49bf15;
    color: white;
    font-size: 1.8rem;
    padding: 2.5rem 4.4rem 0.8rem 3.9rem; }
    .main-trigger strong {
      font-size: 3rem; }
    .main-trigger span {
      font-size: 2.4rem; }
  .main-pay {
    margin-top: 2.7rem;
    margin-bottom: 7rem;
    font-family: 'ProximaNova_Bold', sans-serif;
    display: block;
    text-transform: uppercase;
    font-size: 2.2rem; }
  .main-form {
    padding: 4rem 5rem;
    background-color: white;
    text-align: center; }
    .main-form_header {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 4rem; }
      .main-form_header strong {
        font-size: 1.9rem; }
    .main-form small {
      display: block;
      margin-top: 1.5rem;
      font-size: 1rem; }

/*      Секция с приемуществами      */
.features-header {
  margin: 2rem 0 10rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 3.6rem;
  text-align: center; }

.features-block {
  text-align: center; }
  .features-block_img {
    height: 8rem;
    margin-bottom: 3rem; }
    .features-block_img img {
      display: block;
      margin: 0 auto; }
  .features-block h3 {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-family: 'ProximaNova_Bold', sans-serif;
    font-size: 2rem; }
  .features-block p {
    display: inline-block;
    width: 80%;
    font-size: 1.4rem; }

.slick-active {
  outline: none; }

.arrow {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none; }
  .arrow:hover {
    cursor: pointer; }

.prev {
  background-size: 90%;
  left: 0;
  background: url(/img/left-arrow.png) center no-repeat; }

.next {
  background-size: 90%;
  right: 0;
  background: url(/img/right-arrow.png) center no-repeat; }

/*Секция с ценами*/
.prices {
  background: url("../img/prices-bg.jpg") center; }
  .prices-btn {
    text-align: right;
    margin-top: 3rem;
    margin-right: 0; }
  .prices p {
    font-size: 1.5rem;
    margin-top: 4rem; }
  .prices-card {
    padding: 1rem 2rem 4rem;
    text-align: center;
    box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
    min-height: 50rem; }
    .prices-card h4 {
      font-size: 1.9rem;
      font-family: 'ProximaNova_Bold', sans-serif;
      margin: 3rem 0; }
  .prices-list {
    padding: 0;
    list-style: none;
    min-height: 14rem;
    font-size: 1.6rem;
    line-height: 1.6; }
    .prices-list li:before {
      content: '';
      display: inline-block;
      margin-right: 1rem;
      width: 1.4rem;
      height: 1.4rem;
      background: url("../img/checked.svg") no-repeat center;
      background-size: 100%;
      vertical-align: middle; }
  .prices img {
    display: inline-block;
    margin-bottom: 2rem; }
  .prices-tag {
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 1.9rem;
    font-family: 'ProximaNova_Bold', sans-serif; }

/*Секция с отзывами*/
.feedback {
  position: relative;
  background: url("../img/feedback/fb-bg.jpg"); }
  .feedback-slider {
    padding: 5rem 6rem;
    background-color: #ffffff;
    box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11); }
    .feedback-slider_content {
      margin-left: 1rem;
      color: #1a1820;
      font-size: 1.6rem;
      text-align: left; }
    .feedback-slider_btn {
      position: absolute;
      background-color: #49bf15;
      top: 50%;
      transform: translateY(-50%);
      width: 5rem;
      height: 6rem;
      border: none; }
      .feedback-slider_btn:hover {
        cursor: pointer; }
    .feedback-slider .media {
      margin-top: 3rem; }
      .feedback-slider .media h3 {
        font-family: 'ProximaNova_Bold', sans-serif; }
  .feedback-prev {
    left: -5rem; }
  .feedback-next {
    right: -5rem; }
  .feedback-text {
    padding: 1rem;
    margin-top: 2rem;
    border: 2px solid #49bf15;
    font-style: italic;
    position: relative; }
    .feedback-text::before {
      content: '';
      display: block;
      position: absolute;
      top: -2rem;
      left: 4rem;
      width: 2rem;
      height: 2rem;
      border: 2px solid #49bf15;
      background-color: white;
      border-bottom: none;
      border-top-right-radius: 10rem; }
  .feedback-form {
    background-color: white;
    text-align: center;
    margin-top: 6rem;
    padding: 4rem 8rem; }
    .feedback-form h3 {
      margin-bottom: 2rem;
      font-family: 'ProximaNova_Bold', sans-serif;
      font-size: 1.8rem; }
    .feedback-form label {
      transform: translate(-50%, 7px); }
  .feedback-btn {
    max-width: 30rem; }
  .feedback-arm {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 30rem; }

/*Секция Схема работы*/
.scheme {
  background: white url(../img/scheme/6_1.png) no-repeat bottom -10rem right -10rem;
  background-size: 65rem; }
  .scheme p {
    font-size: 1.3rem; }
  .scheme-block {
    min-height: 10rem;
    margin: 3rem 3rem; }
    .scheme-block h3 {
      font-size: 2rem;
      font-family: 'ProximaNova_Bold', sans-serif; }

/* Секция Всё включено */
.inclusive {
  font-size: 1.4rem;
  background-color: #f5f5f5; }
  .inclusive .media {
    min-height: 10rem; }
    .inclusive .media h4 {
      font-size: 1.6rem;
      font-family: 'ProximaNova_Bold', sans-serif; }
    .inclusive .media p {
      font-size: 1.1rem; }
  .inclusive .circle {
    display: inline-block;
    background-color: #49bf15;
    width: 100%;
    height: 100%;
    border-radius: 50%; }
    .inclusive .circle-border {
      display: inline-block;
      padding: 0.3rem;
      width: 4rem;
      height: 4rem;
      border: 2px solid #49bf15;
      border-radius: 50%;
      text-align: center;
      line-height: 3rem;
      color: white;
      font-size: 1.6rem;
      font-family: 'ProximaNova_Bold', sans-serif; }

/*  Секция Развеем опасения*/
.fears {
  font-size: 1.4rem;
  position: relative; }
  .fears-list {
    border: 3px solid;
    padding: 2rem 2rem 0;
    min-height: 32rem; }
    .fears-list h4 {
      font-size: 2.1rem;
      font-family: 'ProximaNova_Bold', sans-serif; }
    .fears-list ul {
      padding: 2rem 2rem 0;
      list-style: none;
      font-size: 1.3rem; }
      .fears-list ul li {
        margin-bottom: 3rem;
        position: relative;
        padding-left: 4rem; }
        .fears-list ul li:before {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          display: inline-block;
          content: '';
          width: 3rem;
          height: 3rem; }
    .fears-list_problems {
      border-color: rgba(0, 0, 0, 0.4); }
      .fears-list_problems h4 {
        color: rgba(0, 0, 0, 0.4); }
      .fears-list_problems ul li:before {
        background: url("../img/fears/cross.svg") no-repeat center; }
    .fears-list_solutions {
      border-color: #49bf15; }
      .fears-list_solutions ul li:before {
        background: url("../img/fears/check.svg") no-repeat center; }
  .fears-girl {
    position: absolute;
    width: 30rem;
    bottom: 0;
    left: 50%;
    margin-left: -19rem; }

/* Секция с материалами*/
.materials {
  font-size: 1.9rem;
  text-align: center;
  background: url("../img/materials/bg.jpg") no-repeat center;
  background-size: cover; }
  .materials .section-header p {
    margin-top: 5rem; }
  .materials-block {
    text-align: center; }
    .materials-block_img {
      min-height: 18rem; }
      .materials-block_img img {
        display: block;
        margin: 0 auto; }
    .materials-block h3 {
      font-size: 2.2rem;
      font-family: 'ProximaNova_Bold', sans-serif; }
    .materials-block a {
      color: #49bf15;
      border-bottom: 2px dotted #49bf15; }
      .materials-block a:hover {
        border-bottom: none;
        color: #2f7a0d; }
  .materials-footer {
    margin-top: 11rem;
    font-size: 2rem;
    font-family: 'ProximaNova_Bold', sans-serif; }
  .materials-site {
    color: #49bf15; }

/*Секция Тур по стройке*/
.tour {
  background: white url("../img/tour/tour.jpg") no-repeat center;
  background-size: cover; }
  .tour h2 {
    font-family: 'ProximaNova_Bold', sans-serif; }
  .tour-btn {
    margin: 2.2rem auto 1.5rem;
    display: block;
    height: 5rem;
    width: 100%;
    padding: 1.2rem;
    font-size: 1.2rem; }

/*Секция допуслуг*/
.upsell {
  background-color: #286b0a; }
  .upsell .section-header h2 {
    font-size: 3.6rem; }
  .upsell .section-header p {
    margin-top: 4rem;
    font-size: 1.9rem; }
  .upsell-block {
    min-height: 30rem;
    margin-top: -3rem;
    text-align: center; }
    .upsell-block img {
      display: inline-block;
      width: 100%;
      max-width: 45rem; }
    .upsell-block p {
      margin-top: 3rem;
      font-size: 1.8rem;
      color: white; }
    .upsell-block button {
      margin-top: 2rem;
      font-family: 'ProximaNova_Bold', sans-serif; }

/**/
/*Оформление всплывашек*/
.popup {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3; }
  .popup-content {
    background-color: white;
    position: fixed;
    width: 35rem;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    padding: 2rem 0rem;
    border-radius: 5px;
    text-align: center; }
  .popup-header {
    font-family: 'ProximaNova_Bold', sans-serif; }
  .popup-form {
    padding: 0 3rem;
    margin-top: 3rem; }
  .popup-close {
    position: absolute;
    top: -1.6rem;
    right: -3rem;
    width: 3rem;
    text-align: center;
    font-size: 3rem;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer; }

/* ------------------- МЕДИА-ЗАПРОСЫ -----------------------*/
@media (max-width: 1199px) {
  .prices-card h3 {
    min-height: 5rem;
    margin-top: 3rem;
    font-size: 2rem; }
  .feedback-form {
    padding: 3rem 5rem; }
  .fears-list {
    min-height: 40rem; } }

@media (max-width: 991px) {
  .main {
    background-position: top right; }
  .main-phone {
    text-align: center; }
  .main-title {
    text-align: center;
    padding-bottom: 3rem; }
  .prices-btn, .prices-header {
    text-align: center; }
  .prices-header {
    margin-bottom: 0; }
  .prices-btn {
    padding: 2rem 0;
    margin-top: 0.5rem;
    margin-bottom: 2rem; }
  .prices-card {
    margin-top: 2rem; }
  .fears-girl {
    display: none; }
  .fears-list {
    margin-bottom: 3rem; }
  .upsell-block {
    min-height: 45rem; } }

@media (max-width: 767px) {
  .header {
    text-align: center; }
    .header-btn {
      float: none; }
  .main-content {
    margin-top: 15rem; }
  .feedback-arm {
    max-width: 20rem; }
  .scheme {
    background: none;
    text-align: center; }
    .scheme-block {
      height: auto; }
  .fears-girl {
    display: none; } }

@media (max-width: 575px) {
  .main h1 {
    font-size: 3rem; }
  .feedback label {
    line-height: 1.2rem; }
  .feedback-prev {
    left: 0; }
  .feedback-next {
    right: 0; }
  .feedback-arm {
    max-width: 15rem; }
  .feedback-btn {
    font-size: 1.2rem; } }
