/* Fonts mixins*/
@mixin reg() 
	font-family: 'ProximaNova_Reg', sans-serif;

@mixin bold() 
	font-family: 'ProximaNova_Bold', sans-serif;

/* Colors  */
$btn-color: #fab102
$icon-green: #49bf15
$main-text: #292929
$text: #1a1820
/* Base settings */
html
	font-size: 10px
body
	@include reg()
button, input, a 
	&:focus
		outline: none
/*Стили всех кнопочек*/
.button
	background-color: $btn-color
	color: white
	font-size: 1.2rem
	padding: 1rem 3rem
	border: none
	border-radius: 8px
	text-transform: uppercase
	transition: all 0.5s
	&:hover
		cursor: pointer
		background-color: darken($btn-color, 7%)
	

/* Typography */
section
	padding: 10rem 0

/* Main (первая секция)*/
.header
	height: 7rem
	&-btn


.main
	padding: 2rem 0
	background: #fff url(../img/bg.jpg) center center no-repeat
	color: $main-text
	&-phone_link
		display: inline-block
		@include bold()
		font-weight: 900
		font-size: 2rem
		height: 7rem
		line-height: 7rem
		color: $main-text
		
	&-content
		margin-top: 8rem
	/* Правая часть блока main*/
	h1
		margin-top: -1rem
		margin-bottom: 3rem
		@include bold()
		text-transform: uppercase
		font-size: 4rem
		line-height: 1.45
		min-width: 0

	&-subtitle
		margin-bottom: 5rem
		font-size: 2.4rem
		font-weight: 600
		line-height: 1.4
		
	&-trigger
		margin: auto
		display: inline-block
		background-color: $icon-green
		color: white
		font-size: 1.8rem
		padding: 2.5rem 4.4rem 0.8rem 3.9rem
		strong
			font-size: 3rem
		span
			font-size: 2.4rem

	&-pay
		margin-top: 2.7rem
		margin-bottom: 7rem
		@include bold()
		display: block
		text-transform: uppercase
		font-size: 2.2rem

	/* Левая часть main (форма) */
	&-form
		padding: 4rem 0
		background-color: white
		text-align: center

		/* Заголовок формы */
		label
			position: absolute
			left: 50%
			transform: translateX(-50%) translateY(-50%)
			font-size: 1.3rem
			display: inline-block
			background-color: white
			padding: 0.5rem

		&_header
			font-size: 1.8rem
			font-weight: 600
			line-height: 1.2
			margin-bottom: 4rem
			strong
				font-size: 1.9rem
			
		&_input
			display: block
			width: 70%
			border: 1px solid #ddd 
			padding: 1.5rem	
			margin: 2rem auto

		&_btn
			margin: 2.2rem auto 1.5rem
			display: block
			width: 70%
			padding: 1.2rem
			font-size: 1.6rem
		small
			display: block
			margin-top: 1.5rem
			font-size: 1rem
/*      Секция с приемуществами      */
.features

	&-header
		margin: 2rem 0 10rem
		@include bold()
		font-size: 3.6rem
		text-align: center
		
	&-block
		text-align: center
		&_img
			height: 8rem
			margin-bottom: 3rem
			img
				display: block
				margin: 0 auto

		h3
			margin-top: 2rem
			margin-bottom: 3rem
			@include bold()
			font-size: 2rem

		p	
			display: inline-block
			width: 80%
			font-size: 1.4rem
.slick-active
	outline: none

.prev
	position: absolute
	top: 50%
	left: 0
	transform: translateY(50%)




@media (max-width: 991px)
	.main
		background-position: top right
	.main-phone
		text-align: center
	.main-content
		
	.main-title
		text-align: center
		padding-bottom: 3rem

@media (max-width: 767px)	
	.header
		text-align: center
	.main-content
		margin-top: 15rem
	.main-phone, .header-btn 
		// margin-top: 1rem
	
			
			

		
			


					

	

	
	







